.sidebar {
  width: 300px;
  background: #fff;
  height: 100vh;
  transition: 0.5s linear;

  .menu-icon {
    display: none;
  }

  @media screen and (max-width: 800px) {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    z-index: 100;
    transform: translateX(100%);

    .menu-icon {
      cursor: pointer;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 5;
      width: 30px;
      transform: translateX(-100%);
    }
  }

  &__logo-container {
    height: 135px;
    text-align: center;
    display: flex;
    justify-items: center;
    align-items: center;
  }

  &__logo-img {
    margin: auto;
  }

  &__list-items {
    height: calc(100vh - 135px);
    overflow-y: scroll;
    padding: 0 15px;

    &::-webkit-scrollbar {
      width: 5px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }
  }

  .sidebar-item {
    display: flex;
    gap: 10px;
    padding: 13px 15px;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;

    &.active-sideitem {
      background-color: $primaryColor;

      .sidebar-item__label {
        color: #fff;
      }

      svg {
        path {
          fill: #fff;
        }
      }
    }

    &__label {
      color: $secondaryColor;
      margin-bottom: 0;
      font-weight: 400;
    }
  }
}

.activeMenu {
  transform: translateX(0);

  .menu-icon {
    transform: translateX(0);
    right: 0;
  }
}
